.leaderboard-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	.title {
		h2 {
			font-family: 'Bangers', system-ui;
			font-weight: 400;
			font-style: normal;
			font-size: 45px;
			color: #d4af37;
			text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
			letter-spacing: 3.5px;
		}
	}
	.top-users {
		display: flex;
		flex-direction: column;
		gap: 15px;

		.user-box {
			display: flex;
			align-items: center;
			gap: 20px;
			.devision {
				max-width: 150px;
			}

			.user {
				h2 {
					font-family: 'Bangers', system-ui;
					font-weight: 400;
					font-style: normal;
					font-size: 25px;
					color: #d4af37;
					text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
					letter-spacing: 3.5px;
				}
			}
		}
	}
}
